<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            min-height: 400px;
            margin:20px;
            background-color: rgb(199, 178, 178);
            box-shadow: 5px 5px 10px #888888;
        }
        .container div{
            display: flex;
            justify-content: center;
            
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        .container th,td{
            
            border-style: groove;
           
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div ><h2 >Request Logs</h2></div>
        <table id="logs">
            <thead>
           <tr>
                <th>ipaddress</th><th>path</th><th>timestamp</th><th>referer</th>

            </tr>
        </thead>
        <tbody>
            
        </tbody>
        </table>
    </div>
<script>
var initDisplayLogs=(array,mode="apend")=>{
    if(!Array.isArray(array)) return;
    const format = ["ipaddress" , "path","timestamp","referer"]
    const table = document.querySelector("#logs tbody")
    for(var i =0;i<array.length;i++){
        tempObj = array[i];
        var tr = document.createElement("tr")
        if(mode=="apend") table.appendChild(tr);else table.prepend(tr);
        for(const value of format){
            const td = document.createElement("td");td.textContent=tempObj[value];tr.appendChild(td)
        }
      
    }
}
window.onload = ()=>{
    const ws = new WebSocket(`wss://${window.location.host}`);

    ws.onopen = (socket)=>{ws.send("hi","hei")}
    let isFirst = true;
    ws.onmessage = (event)=>{
        let storedLogs = JSON.parse(event.data)
        console.log(storedLogs)
        if(isFirst){initDisplayLogs(storedLogs);isFirst = false}else initDisplayLogs(storedLogs,mode="prepend")
        
        
        

    }
   
}
screen.orientation.lock('landscape');
//setInterval(()=>{location.reload()},1000)</script>
    
</body>
</html>