<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ytomp3 - MP3 Song Downloader</title>
    
    <!-- Add meta tags for SEO -->
    <meta name="description" content="ytomp3 is your source for downloading songs in MP3 format. Explore a vast collection of songs from various artists and genres.">
    <meta name="keywords" content="ytomp3, mp3 download, songs, music, download music, song downloader">
    <meta name="author" content="Your Name">
    <meta name="robots" content="index, follow">
    
    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="ytomp3 - MP3 Song Downloader">
    <meta property="og:description" content="ytomp3 is your source for downloading songs in MP3 format. Explore a vast collection of songs from various artists and genres.">
    <meta property="og:image" content="your-image-url.jpg"> <!-- Add an image URL for social sharing -->
    <meta property="og:url" content="https://www.ytomp3.com">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ytomp3">
    <meta name="twitter:title" content="ytomp3 - MP3 Song Downloader">
    <meta name="twitter:description" content="ytomp3 is your source for downloading songs in MP3 format. Explore a vast collection of songs from various artists and genres.">
    <meta name="twitter:image" content="your-image-url.jpg"> <!-- Add an image URL for Twitter sharing -->

    <style>
        body {
            background-color: #f0f0f0; /* Light gray background */
            text-align: center;
        }

        .container {
            background-color: #fff; /* White background */
            border-radius: 10px;
            box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin: 20px;
            text-align: center;
        }

        .search-bar {
            margin-top: 20px;
        }

        .search-bar input[type="text"] {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .search-bar button {
            background-color: #3498db; /* Blue search button background color */
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            margin-left: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .search-bar button:hover {
            background-color: #1C2833; /* Dark button background color on hover */
        }

        .site-description {
            margin-top: 20px;
            font-size: 18px;
            color: #333; /* Dark text color */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to ytomp3</h1>
        <div class="search-bar">
            <input id="searchInput" type="text" placeholder="Search for songs...">
            <button onclick="redirectToSearch()">Search</button>
        </div>
        <p class="site-description">
            ytomp3 is your destination for downloading songs in MP3 format. Explore a vast collection of songs from various artists and genres.
        </p>
    </div>
  <script>
        function redirectToSearch() {
            const searchInput = document.getElementById('searchInput').value;
            window.location.href = `/audio/search/${encodeURIComponent(searchInput)}`;
        }
    </script>
</body>
</html>
